.detail_item {
  direction: rtl;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  .button {
    cursor: pointer;
    font-family: "estedad";
    font-size: 13px;
    border-radius: 5px;
    padding: 7px 19px;
    width: 100px;
    margin-bottom: 20px;
  }
  .editing_button {
    background: #6be6ab;
    color: #23579a;
  }
  .save_changes {
    background: #23579a;
    color: #6be6ab;
  }
  .text_details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    .detail_voting {
      background-color: #f4f4f4;
      border-radius: 5px;
      padding: 3px 7px;
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-self: stretch;
      .upvote {
        width: 15px;
        height: 15px;
      }
      .detail_type {
        font-size: 12px;
      }
      .downvote {
        width: 15px;
        height: 15px;
      }
    }
    .detail_body {
      flex: 1;
      text-align: right;
      .editing_wrapper {
        display: flex;
        flex-direction: column;
        .title_editing {
          font-family: "estedad";
          font-size: 16px;
          max-width: 90%;
          min-width: 90%;
        }
        .description_editing {
          font-family: "estedad";
          font-size: 12px;
          max-width: 90%;
          min-width: 90%;
          min-height: min-content;
        }
      }
      .title {
      }
      .description {
        font-size: 12px;
        color: #5e6c84;
      }
    }
    .issue_date {
      font-size: 14px;
    }
  }
  .attachments {
    text-align: right;
    margin-top: 10px;
  }
  .multimedia_details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    .file_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding: 10px;
      border-radius: 5px;
      background-color: #f4f4f4;
      .file_thumb {
        width: auto;
        height: 60px;
      }
      .file_video {
        width: auto;
        height: 120px;
      }
      .file_name {
        font-size: 12px;
      }
      .download_button {
        font-size: 12px;
        color: #23579a;
        background-color: #6be6ab;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
  .preview_page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #5e6c8490;
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    flex-direction: column;
    // padding: 0 20px;

    .prev_details_wrapper {
      width: 100%;
      background-color: #eee;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .prev_file_name {
        color: #23579a;
        margin-left: 50px;
      }
      .prev_download_button {
        margin-right: 50px;
        font-size: 16px;
        width: 100px;
        color: #23579a;
        background-color: #6be6ab;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .selected_image {
      max-width: 60%;
      max-height: 70vh;
    }
    .selected_video {
      max-width: 60%;
      max-height: 70vh;
    }
  }
}
